<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Drivers</title>
</head>
<body>
<h1>All Drivers</h1>
<table>
    <thead>
    <th>id</th>
    <th>name</th>
    <th>dateOfBirth</th>
    <th>team</th>
    <th>racingSeries</th>
    </thead>
    <tbody>
    <tr th:each="driver : ${drivers}">
        <td th:text="${driver.id}"></td>
        <td th:text="${driver.name}"></td>
        <td th:text="${driver.dateOfBirth}"></td>
        <td th:text="${driver.team}"></td>
        <td th:text="${driver.racingSeries}"></td>
        <td><a th:href="@{/driverCar(id=${driver.id})}">Open DriverCar</a></td>
    </tr>
    </tbody>
</table>
<form action="#" th:action="@{/driverByName}" method="get">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:name="name" required /></td>
        </tr>
        <tr>
            <td><button type="submit">Find Driver</button></td>
        </tr>
    </table>
</form>
<form action="#" th:action="@{/driverById}" method="get">
    <table>
        <tr>
            <td>ID:</td>
            <td><input type="number" th:name="id" required /></td>
        </tr>
        <tr>
            <td><button type="submit">Find Driver</button></td>
        </tr>
    </table>
</form>
<form action="#" th:action="@{/addDriver}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:name="name" /></td>
        </tr>
        <tr>
            <td>Date of Birth:</td>
            <td><input type="text" th:name="dateOfBirth" /></td>
        </tr>
        <tr>
            <td>Team:</td>
            <td><input type="text" th:name="team" /></td>
        </tr>
        <tr>
            <td>Racing Series:</td>
            <td><input type="text" th:name="racingSeries" /></td>
        </tr>
        <tr>
            <td><button type="submit">Add Driver</button></td>
        </tr>
    </table>
</form>
<form action="#" th:action="@{/updateDriver}" method="post">
    <table>
        <tr>
            <td>ID:</td>
            <td><input type="number" th:name="id" required /></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:name="name" /></td>
        </tr>
        <tr>
            <td>Date of Birth:</td>
            <td><input type="text" th:name="dateOfBirth" /></td>
        </tr>
        <tr>
            <td>Team:</td>
            <td><input type="text" th:name="team" /></td>
        </tr>
        <tr>
            <td>Racing Series:</td>
            <td><input type="text" th:name="racingSeries" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Update Driver" /></td>
        </tr>
    </table>
</form>
<form action="#" th:action="@{/deleteDriver}" method="post">
    <input type="hidden" name="_method" value="delete" />
    <table>
        <tr>
            <td>ID:</td>
            <td><input type="number" th:name="id" /></td>
        </tr>
        <tr>
            <td><button type="submit">Delete Driver</button></td>
        </tr>
    </table>
</form>
</body>
</html>